body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#8b6b61, #321911);
  padding: 80px 0;
  color: #fffafa;
}

.site-footer a {
  color: white;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  /* background-image: linear-gradient(to right, #5d4037, #8b6b61, #321911); */
  background: #5d4037;
  color: #fffafa;
  text-shadow: 2px 1px 2px #321911;

}

.jumbotron h2 {
  color: #fffafa;
  text-shadow: 2px 1px 2px #321911;
}

.navbar-dark {
  background-color: #321911;
  box-shadow: 1px 1px 3px black;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.fa-sign-in {
  color: black;
  background-color: burlywood;
}

.fa-sign-in:hover{
  background-color: rgb(167, 131, 84);
  color: black;
}

.navbar-text button {
  background-color: burlywood;
  color: black;
}

.navbar-text button:hover {
  background-color: rgb(167, 131, 84);
  color: black;
}
